html, body, #root{
    height: 100%;
}

.App {
    height: 100%;
}



.brewerylist-card {
    margin-bottom: 5px;
}

#brewerylist-col {
    width: 100px;
    margin-top: 10px;
}

#brewerylist-container {
    border: 1px;
    border-color: black;
    height: auto;
    margin-bottom: 5vh;
}

#brewerymap-container {
    position: absolute;
    border: 1px;
    border-style: solid;
    border-color: black;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;    
    z-index: 0;
}

#home-container {
    padding-top: 5vh;
    height: 100%;
}

#search-bar-container{
    display: flex;
    justify-content: center;;
}

#search-bar-row {
    height: 6vh;
}

#search-bar-form-control {
    width: 40vw;
}

#search-bar-button {
    border: none;
    color: black;
    background-color: aliceblue;
}