html, body, #root{
    height: 100%;
}

.App {
    height: 100%;
}

.brewerylist-card {
    margin-bottom: 5px;
    width: 50vw;
}

#brewerylist-col {
    width: 100px;
    margin-top: 10px;
}

#brewerylist-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#brewerymap-container {
    position: absolute;
    border: 1px;
    border-style: solid;
    border-color: black;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;    
    z-index: 0;
}

#home-container {
    padding-top: 8vh;
    height: 100%;
    
}

#search-bar-input-col {
    padding-right: 0;
}

#search-bar-button-col {
    padding-left: 0;
}

#search-bar-container{
    display: flex;
    justify-content: flex-start;
}

#search-bar-row {
    height: 6vh;

}

#search-bar-form-control {
    width: 40vw;
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: none;
    outline: none;
}

#search-bar-form-control:focus {
    box-shadow: none;
    outline: none;
}


#search-bar-button {
    border: none;
    color: black;
    background-color: white;
    border: 1px solid #ced4da;
    border-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    box-shadow: none;
    outline: none;
}